@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css">
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Index", "Index")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li>@Html.ActionLink("Inventory", "Inventory")</li>
            <li>@Html.ActionLink("Login", "Login")</li>
            <li>@Html.ActionLink("Shopping Cart", "ShoppingCart")</li>
        </ul>
        Application information goes here~ Created by Tyler and Zach
    </div>
</body>
</html>
