@using GrocerEWebApplication.Models
@model Cart

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css">
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Index", "Index")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li>@Html.ActionLink("Inventory", "Inventory")</li>
            <li>@Html.ActionLink("Login", "Login")</li>
            <li>@Html.ActionLink("Shopping Cart", "ShoppingCart")</li>
        </ul>
    </div>


    <div>

        <div>

            <ol class="shoppingCart">
                @foreach (KeyValuePair<String, Order> order in Model.Contents)
                {
                    <li class="shoppingCart">
                        <h4>@order.Value.Item.ID @order.Value.Item.Name</h4>
                        <p>Price: @order.Value.Item.Price.ToString("c") x @order.Value.Amount</p>
                        <p>Item Subtotal: @order.Value.SubTotal.ToString("c") + @order.Value.SubTotalTax.ToString("c") taxable</p>
                    </li>
                }
            </ol>

            <p>Total Before Taxes: @Model.GetItemSubTotal().ToString("c")</p>

            <p>Taxable: @Model.GetItemTaxTotal().ToString("c")</p>

            <p>Final Total: @Model.GetFinalTotal().ToString("c")</p>

        </div>

    </div>



</body>
</html>
