@using GrocerEWebApplication.Models
@model IEnumerable<Order>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css">
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Index", "Index")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li>@Html.ActionLink("Inventory", "Inventory")</li>
            <li>@Html.ActionLink("Login", "Login")</li>
            <li>@Html.ActionLink("Shopping Cart", "ShoppingCart")</li>
        </ul>
    </div>


    <div>

        <div>

            <ul>
                @foreach (Order order in Model)
                {
                    <li>
                        <h4>@order.Item.ID &nbsp&nbsp&nbsp&nbsp @order.Item.Name</h4>
                        &nbsp&nbsp&nbsp&nbspPrice: @order.Item.Price.ToString("c") x @order.Amount
                        &nbsp&nbsp&nbsp&nbspItem Subtotal: @order.SubTotal + @order.SubTotalTax taxable
                    </li>
                }
            </ul>

        </div>

    </div>



</body>
</html>
